
            <%item.categories.forEach(function(category){%>
              <%if(category.name==cate){%>
                <li><a href="<%- config.root%><%- item.path%>"><%- item.title%></a></li>
                <%}%>
            <%});%>
